<?xml version="1.0"?>
<!-- 
/**
 * @category    Me
 * @package     Me_Shopdash
 * @author      Magevolve Ltd.
 * @copyright   Copyright (c) 2013 ShopDash Inc. (http://shopdashapp.com/)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0) 
 */ 
-->
<config>
    <modules>
        <Me_Shopdash>
            <version>1.1.7</version>
        </Me_Shopdash>
    </modules>
    <frontend>
        <routers>
            <me_shopdash>
                <use>standard</use>
                <args>
                    <module>Me_Shopdash</module>
                    <frontName>shopdash</frontName>
                </args>
            </me_shopdash>
        </routers>
        <translate>
            <modules>
                <Me_Shopdash>
                    <files>
                        <default>Me_Shopdash.csv</default>
                    </files>
                </Me_Shopdash>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <shopdash after="Mage_Adminhtml">Me_Shopdash</shopdash>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <me_shopdash>
                    <file>me_shopdash.xml</file>
                </me_shopdash>
            </updates>
        </layout>
        <translate>
            <modules>
                <Me_Shopdash>
                    <files>
                        <default>Me_Shopdash.csv</default>
                    </files>
                </Me_Shopdash>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <me_shopdash>
                <class>Me_Shopdash_Model</class>
                <resourceModel>shopdash_mysql4</resourceModel>
            </me_shopdash>
            <shopdash_mysql4>
                <class>Me_Shopdash_Model_Mysql4</class>
                <entities>
                    <shopdash>
                        <table>me_shopdash</table>
                    </shopdash>
                </entities>
            </shopdash_mysql4>
        </models>
        <resources>
            <me_shopdash_setup>
                <setup>
                    <module>Me_Shopdash</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </me_shopdash_setup>
            <shopdash_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shopdash_write>
            <shopdash_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shopdash_read>
        </resources>
        <blocks>
            <me_shopdash>
                <class>Me_Shopdash_Block</class>
            </me_shopdash>
        </blocks>
        <helpers>
            <me_shopdash>
                <class>Me_Shopdash_Helper</class>
            </me_shopdash>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <me_shopdash_export>
                <run>
                    <model>me_shopdash/shopdash::startExport</model>
                </run>
            </me_shopdash_export>
        </jobs>
    </crontab>
    <default>
        <shopdash>
            <config>
                <enable>0</enable>
                <filename>shopdash.xml</filename>
                <path>/shopdash_feed</path>
                <empty_cart>0</empty_cart>
                <redirect>0</redirect>
            </config>
            <products>
                <unit_custom>qty</unit_custom>
                <gallery>0</gallery>
            </products>
            <category>
                <category_all>1</category_all>
            </category>
            <deals>
                <deal_enable>0</deal_enable>
                <name_custom>Custom deal name</name_custom>
            </deals>
        </shopdash>
    </default>
</config>